.modal__close {
  width: 32px;
  height: 32px;
  background: url('../../../images/Close-Icon.svg');
  position: absolute;
  background-size: cover;
  border: 0;
  top: -40px;
  right: -40px;
}
.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media (max-width: 500px) {
  .modal__close {
    width: 26px;
    height: 26px;
    right: 0px;
  }
}
@media (max-width: 400px) {
  .modal__close {
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 320px) {
  .modal__close {
    width: 20px;
    height: 20px;
    top: -37px;
  }
}
