.header__link {
  margin-left: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.header__link:hover {
  opacity: 0.8;
}
@media (max-width: 830px) {
  .header__link {
    margin: 0;
  }
}
