@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/_opened/header_opened.css);
@import url(./blocks/header/__img/header__img.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__button/_active/header__button_active.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_type_login/header__link_type_login.css);
@import url(./blocks/header/__heading/header__heading.css);
@import url(./blocks/header/__logo-link/header__logo-link.css);
@import url(./blocks/header/__info-container/header__info-container.css);
@import url(./blocks/header/__info-container/_opened/header__info-container_opened.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__error/login__error.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login//__form/login__form.css);
@import url(./blocks/login/__input/__input-error/login__input-error.css);
@import url(./blocks/login/__buttton/login__button.css);
@import url(./blocks/login/__buttton/_invalid/login__button_invalid.css);
@import url(./blocks/login/__subtitle-link/login__subtitle-link.css);
@import url(./blocks/login/__subtitle/login__subtitle.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image-ellipse/profile__image-ellipse.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-container/profile__info-container.css);
@import url(./blocks/profile/__info-title/profile__info-title.css);
@import url(./blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(./blocks/profile/__info-edit-button/profile__info-edit-button.css);
@import url(./blocks/profile/__add-botton/profile__add-botton.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element-spinner/element-spinner.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__counter-like/element__counter-like.css);
@import url(./blocks/element/__button-delete/element__button-delete.css);
@import url(./blocks/element/__button-delete/_hidden/element__button-delete_hidden.css);
@import url(./blocks/element/__button-delete/_visibility/element__button-delete_visible.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/element/__button-like/_active/element__button-like_active.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/modal/modal.css);
@import url(./blocks/modal/__register-img-error/modal__register-img-error.css);
@import url(./blocks/modal/__register-img/modal__register-img.css);
@import url(./blocks/modal/__register-title/modal__register-title.css);
@import url(./blocks/modal/__error/modal__error.css);
@import url(./blocks/modal/__img/modal__img.css);
@import url(./blocks/modal/_opened/modal_opened.css);
@import url(./blocks/modal/__button/modal__button.css);
@import url(./blocks/modal/__button/_invalid/modal__button_invalid.css);
@import url(./blocks/modal/__close/modal__close.css);
@import url(./blocks/modal/__container/modal__container.css);
@import url(./blocks/modal/__container-img/modal__container-img.css);
@import url(./blocks/modal/modal__container-tooltip/modal__container-tooltip.css);
@import url(./blocks/modal/__input/modal__input.css);
@import url(./blocks/modal/__input/_error/modal__input_error.css);
@import url(./blocks/modal/__title/modal__title.css);
@import url(./blocks/modal/__form/modal__form.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
